@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: monospace;
	font-family: mono;
	color: white;
}
*,
html {
	scroll-behavior: smooth !important;
}

*::-webkit-scrollbar {
	width: 0;
}

html {
	scroll-behavior: smooth;
}

a {
	@apply text-gray-300
	text-[.75rem];
}
a:hover {
	@apply font-bold text-white;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
	height: 100%;
}
